﻿<!--<h1>Send Tip</h1>
<hr />

<form (ngSubmit)="sendtip()" novalidate>

    To patient: &nbsp;
    <select [(ngModel)]="dailytip.patient" name="patient">
        <option *ngFor="let patient of patients" value="{{patient._id}}">{{patient.fullName}}</option>
    </select>

    <div>
        Tip <br />
        <textarea [(ngModel)]="dailytip.tip" name="tip"
                  placeholder="Enter list of motivational tips here..."
                  rows="4" cols="50" ></textarea>
    </div>

    <div>
        <input type="submit">
    </div>
    <div>
        <strong id="error">{{errorMessage}}</strong>
    </div>
</form>-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Send Tips to the Patient</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" (ngSubmit)="sendtip()" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Patient</label>
                            <div class="col-sm-9">
                                <select class="form-control" [(ngModel)]="dailytip.patient" name="patient">
                                    <option *ngFor="let patient of patients" value="{{patient._id}}">{{patient.fullName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tips</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" [(ngModel)]="dailytip.tip" name="tip"
                                          placeholder="Enter list of motivational tips here..."
                                          rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                        <div>
                            <strong id="error">{{errorMessage}}</strong>
                        </div>
                    </form>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->
