﻿<!--<h1>Record Daily Information</h1>
<hr />

<form (ngSubmit)="create()" novalidate>
    To nurse: &nbsp;
    <select [(ngModel)]="dailyinfo.nurse" name="nurse">
        <option *ngFor="let nurse of nurses" value="{{nurse._id}}">{{nurse.fullName}}</option>
    </select>
    &nbsp;&nbsp;ID:&nbsp;{{dailyinfo.nurse}}

    <div>
        Daily Information <br />
        <textarea [(ngModel)]="dailyinfo.content" name="content"
                  placeholder="Enter daily information here"
                  rows="4" cols="50"></textarea>
    </div>
    <div>
        <input type="submit">
    </div>
    <div>
        <strong id="error">{{errorMessage}}</strong>
    </div>
</form>-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Record Daily Information</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" (ngSubmit)="create()" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Nurse</label>
                            <div class="col-sm-9">
                                <select class="form-control" [(ngModel)]="dailyinfo.nurse" name="nurse">
                                    <option *ngFor="let nurse of nurses" value="{{nurse._id}}">{{nurse.fullName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Daily Information</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" [(ngModel)]="dailyinfo.content" name="content"
                                          placeholder="Enter daily information here..."
                                          rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                        <div>
                            <strong id="error">{{errorMessage}}</strong>
                        </div>
                    </form>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->
