﻿
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Record Vital signs</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" (ngSubmit)="record()" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Select Patient</label>
                            <div class="col-sm-9">
                                <select class="form-control" [(ngModel)]="vitalsigns.patient" name="patient">
                                    <option *ngFor="let patient of patients" value="{{patient._id}}">{{patient.fullName}}</option>
                                </select>
                            </div>
                        </div>
                        <!--&nbsp;&nbsp;ID:&nbsp;{{vitalsigns.patient}}-->

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Body Temperature</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="bodytemp"
                                       placeholder="Body Temperature [37]" [(ngModel)]="vitalsigns.bodytemp" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Heart Rate</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="heartrate"
                                       placeholder="Heart Rate [70]" [(ngModel)]="vitalsigns.heartrate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">Blood Pressure</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="bloodpressure"
                                       placeholder="Blood Pressure [120/80]" [(ngModel)]="vitalsigns.bloodpressure" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Respiratory Rate</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="respiratoryrate"
                                       placeholder="Respiratory Rate [20]" [(ngModel)]="vitalsigns.respiratoryrate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                        <div>
                            <strong id="error">{{errorMessage}}</strong>
                        </div>
                    </form>
                </div><!--end panel-body-->
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->





