﻿<!--<h1>List of Conditions</h1>

<div *ngFor="let ill of illnesses">
    <a [routerLink]="['/ill/list', ill._id]">{{ill.condition}}</a>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">List of Conditions</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" *ngFor="let ill of illnesses">
                        <div class="list-group-item">
                            <h4><a [routerLink]="['/ill/list', ill._id]">{{ill.condition}}</a></h4>
                        </div>
                    </div>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-4-->
    </div><!--end row-->
</div><!--end container-->