﻿<!--<div *ngIf="user">
    <h1>Daily Tips</h1>


    <div *ngFor="let tip of tips">
        <div *ngIf="user._id === tip.patient">
            <a [routerLink]="['/tips', tip._id]">Tip from {{tip.creator.fullName}}</a>
            <br />
            <small>{{tip.sent}}</small>    
        </div>    
    </div>


    <div *ngIf="tips && tips.length === 0">
        No tips for {{user.fullName}}.
    </div>
</div>-->

<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Daily Tips</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" *ngFor="let tip of tips">
                        <div class="list-group-item" *ngIf="user._id === tip.patient">
                            <h4><a [routerLink]="['/tips', tip._id]">Tip from {{tip.creator.fullName}}</a></h4>
                            <br />
                            <small><em>{{tip.sent}}</em></small>
                        </div>
                    </div>

                    <div *ngIf="tips && tips.length === 0">
                        No tips for {{user.fullName}}.
                    </div>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->