﻿<h1>Edit Vital Signs Record</h1>
<form (ngSubmit)="update()" novalidate>
    
    <div>
        Body Temperature [37]<input type="text" [(ngModel)]="vitalsigns.bodytemp" name="bodytemp">
    </div>
    <div>
        Heart Rate [70] <input type="text" [(ngModel)]="vitalsigns.heartrate" name="heartrate">
    </div>
    <div>
        Blood Pressure [120/80]<input type="text" [(ngModel)]="vitalsigns.bloodpressure" name="bloodpressure">
    </div>
    <div>
        Respiratory Rate [20]<input type="text" [(ngModel)]="vitalsigns.respiratoryrate" name="respiratoryrate">
    </div>
    <div>
        <input type="submit">
    </div>
    <div>
        <strong id="error">{{errorMessage}}</strong>
    </div>
</form>
