﻿<!--<h1>Alert Records</h1>

<div *ngFor="let alert of alerts">
    <a [routerLink]="['/alerts/list', alert._id]">{{alert.creator.fullName}}</a>
    <br>
    <small>{{alert.created}}</small>
</div>

<div *ngIf="alerts && alerts.length === 0">
    No alerts record yet.
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Alert Records</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" *ngFor="let alert of alerts">
                        <div class="list-group-item">
                            <!--<div >-->
                            <a [routerLink]="['/alerts/list', alert._id]">{{alert.creator.fullName}}</a>
                            <br>
                            <small><em>{{alert.created}}</em></small>
                            <!--</div>-->
                        </div>
                    </div>

                    <div *ngIf="alerts && alerts.length === 0">
                        No alerts record yet.
                    </div>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->
