﻿<!--<section *ngIf="dailyinfo && dailyinfo.creator">
    <div>
        <table border="1">
            <tr>
                <th>
                    Patient
                </th>
                <th>
                    Content
                </th>
            </tr>
            <tr>
                <td>
                    {{dailyinfo.creator.fullName}}
                </td>
                <td>
                    {{dailyinfo.content}}
                </td>
                
        </table>
    </div>
    <br />
    
    <small>
        <em>
            Created on {{dailyinfo.created}} by {{ dailyinfo.creator.fullName }}
        </em>
    </small>
</section>-->

<div class="container" *ngIf="dailyinfo && dailyinfo.creator">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Patient Daily Information</h3>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Patient</th>
                            <th class="col-md-1">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{dailyinfo.creator.fullName}}</td>
                            <td>{{dailyinfo.content}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <small><em>Created on {{dailyinfo.created}} by {{ dailyinfo.creator.fullName }}</em></small>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->