﻿<!--<section *ngIf="illness && illness.condition">
    <div>
        <table border="1">
            <tr>
                <th>
                    Condition
                </th>
                <th>
                    Symptoms
                </th>
                <th>
                    Required Attention
                </th>
            </tr>
            <tr>
                <td>
                    {{illness.condition}}
                </td>
                <td>
                    {{illness.symptoms}}
                </td>
                <td>
                    {{illness.advice}}
                </td>
            </tr>

        </table>
    </div>
    <br />
</section>-->

<div class="container" *ngIf="illness && illness.condition">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Patient's Health Condition</h3>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Condition</th>
                            <th class="col-md-1">Symptoms</th>
                            <th class="col-md-2">Required Attention</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{illness.condition}}</td>
                            <td>{{illness.symptoms}}</td>
                            <td>{{illness.advice}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->