﻿<!--<section *ngIf="tips && tips.creator">
    <div>
        <table border="1">
            <tr>
                <th>
                    Tip of the Day
                </th>
            </tr>
            <tr>
                <td>
                    {{tips.tip}}
                </td>
            </tr>

        </table>
    </div>
    <small>
        <em>
            Created on {{tips.sent}}
        </em>
    </small>
</section>-->

<div class="container" *ngIf="tips && tips.creator">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Tips of the Day</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <h3 class="list-group-item" >
                            {{tips.tip}}
                        </h3>
                    </div>
                </div>
            <div class="panel-footer">
                <small>
                    <em>
                        Created on {{tips.sent}}
                    </em>
                </small>
            </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->