﻿<!--<div *ngIf="user">
    <h1>Vital Signs Records</h1>

    <div *ngFor="let vitals of vitalsigns">
        <div *ngIf="user._id === vitals.creator._id">
            <a [routerLink]="['/vitals/record', vitals._id]">{{vitals.patient.fullName}}</a>
            <br>
            <small>{{vitals.created}}</small>
        </div>
    </div>

    <div *ngIf="vitalsigns && vitalsigns.length === 0">
        No vital signs record yet.
    </div>
</div>-->

<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Vital Signs Records</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" *ngFor="let vitals of vitalsigns">
                        <div class="list-group-item" *ngIf="user._id === vitals.creator._id">
                            <a [routerLink]="['/vitals/record', vitals._id]">{{vitals.patient.fullName}}</a>
                            <br>
                            <small><em>{{vitals.created}}</em></small>
                        </div>
                    </div>

                    <div *ngIf="vitalsigns && vitalsigns.length === 0">
                        No vital signs record yet.
                    </div>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->