﻿<!--<div *ngIf="user">
    <h1>Patient's Daily Information</h1>
        
    <div *ngFor="let info of dailyinfo">
        <div *ngIf="user._id === info.nurse">
            <a [routerLink]="['/info/list', info._id]">{{info.creator.fullName}}</a>
            <br>
            <small>{{info.created}}</small>
        </div>
    </div>
        
    <div *ngIf="dailyinfo && dailyinfo.length === 0">
        No daily informaiton for {{user.fullName}}.
    </div>
</div>-->

<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Patient's Daily Information</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group" *ngFor="let info of dailyinfo">
                        <div class="list-group-item" *ngIf="user._id === info.nurse">
                            <!--<div >-->
                            <h4><a [routerLink]="['/info/list', info._id]">{{info.creator.fullName}}</a></h4>
                            <br>
                            <small><em>{{info.created}}</em></small>
                            <!--</div>-->
                        </div>
                    </div>

                    <div *ngIf="dailyinfo && dailyinfo.length === 0">
                        No daily informaiton for {{user.fullName}}.
                    </div>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->