﻿<!--<footer>© Company 2017</footer>-->
<footer class="container">
    <div class="text-center center-block">
      <p class="txt-railway">© Company 2017</p>
      <br />
      <a href="/api/oauth/facebook">
        <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
      </a>
      <a href="/api/oauth/twitter">
        <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
      </a>
      <a href="/api/oauth/google">
        <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
      </a>
      <a href="mailto:bootsnipp@gmail.com">
        <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
      </a>
    </div>
    <!--<hr />-->
</footer>