﻿<!--<section *ngIf="vitalsigns && vitalsigns.creator">
    <div>
        <table border="1">
            <tr>
                <th>
                    Patient
                </th>
                <th>
                    Patient Id
                </th>
                <th>
                    Body Temperature
                </th>
                <th>
                    Heart Rate
                </th>
                <th>
                    Blood Pressure
                </th>
                <th>
                    Respiratory Rate
                </th>
            </tr>
            <tr>
                <td>
                    {{vitalsigns.patient.fullName}}
                </td>
                <td>
                    {{vitalsigns.patient._id}}
                </td>
                <td>
                    {{vitalsigns.bodytemp}}
                </td>
                <td>
                    {{vitalsigns.heartrate}}
                </td>
                <td>
                    {{vitalsigns.bloodpressure}}
                </td>
                <td>
                    {{vitalsigns.respiratoryrate}}
                </td>
            </tr>

        </table>
    </div>
    <br />
    <div *ngIf="allowEdit">
        <a [routerLink]="['/vitals/record', vitalsigns._id, 'edit']">edit</a>
        <button (click)="delete()">delete</button>
    </div>
    <small>
        <em>
            Created on {{vitalsigns.created}} by {{ vitalsigns.creator.fullName }}
        </em>
    </small>
</section>-->

<div class="container">
    <div><h1>Patient Record</h1></div>
    <hr />
    <div class="row" *ngIf="vitalsigns && vitalsigns.creator">
        <div class="col-lg-9" style="border-right:1px solid #d3d3d3;">
            <div style="border-bottom:1px solid #f0f0f0;padding-bottom:10px;">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="text-align:center;">Patient</div>
                        <div style="text-align:center;"><span style="font-size:24px;font-weight:400;">{{vitalsigns.patient.fullName}}</span></div>
                    </div>
                    <div class="col-lg-6">
                        <div style="text-align:center;">Patient Id</div>
                        <div style="text-align:center;"><span style="font-size:24px;font-weight:400;">{{vitalsigns.patient._id}}</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div style="text-align:center;">Heart Rate</div>
                        <div style="text-align:center;"><span style="font-size:24px;font-weight:400;">{{vitalsigns.heartrate}}</span></div>
                    </div>
                    <div class="col-lg-6">
                        <div style="text-align:center;">Weight</div>
                        <div style="text-align:center;"><span style="font-size:24px;font-weight:400;">80</span></div>
                    </div>
                </div>
            </div>
            <div style="border-bottom:1px solid #f0f0f0;padding:10px 0px;">
                <div class="row">
                    <div class="col-lg-4">
                        <div style="text-align:center;">Blood Pressure:</div>
                        <div style="text-align:center;"><span style="font-size:20px;font-weight:400;">{{vitalsigns.bloodpressure}}</span></div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <div style="width:150px;border-radius:20px;background-color:#f0f0f0;height:20px;padding:5px 5px;">
                                <div style="width:110px;border-radius:20px;background-color:cornflowerblue;height:10px;"></div>
                            </div>
                            <div style="text-align:center;">
                                Systolic
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <div style="width:150px;border-radius:20px;background-color:#f0f0f0;height:20px;padding:5px 5px;">
                                <div style="width:55px;border-radius:20px;background-color:cornflowerblue;height:10px;"></div>
                            </div>
                            <div style="text-align:center;">
                                Diastolic
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding:10px 0px;">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="text-align:center;">Body Temperature</div>
                        <div style="text-align:center;"><span style="font-size:20px;font-weight:400;">{{vitalsigns.bodytemp}}</span></div>
                    </div>
                    <div class="col-lg-6">
                        <div style="text-align:center;">Respiratory Rate</div>
                        <div style="text-align:center;"><span style="font-size:20px;font-weight:400;">{{vitalsigns.respiratoryrate}}</span></div>
                    </div>
                    <a href="#" class="btn btn-info" [routerLink]="['/vitals']">Go to Home</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 text-center">
            <div style="background-image:url('../img/Height.PNG'); height:200px; width:100%; display:table;text-align:right">               
            </div>           
        </div>
        
    </div>
</div>