﻿<!--<form (ngSubmit)="signup()">
    <div>
        <label>Role:</label>
        <select [(ngModel)]="user.role" name="role">
            <option value="nurse">Nurse</option>
            <option value="patient">Patient</option>
        </select>
</div>
    <div>
        <label>First Name:</label>
        <input type="text" [(ngModel)]="user.firstName"
               name="firstName">
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" [(ngModel)]="user.lastName"
               name="lastName">
    </div>
    <div>
        <label>Email:</label>
        <input type="text" [(ngModel)]="user.email" name="email">
    </div>
    <div>
        <label>Username:</label>
        <input type="text" [(ngModel)]="user.username"
               name="username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" [(ngModel)]="user.password"
               name="password">
    </div>
    <div>
        <input type="submit" value="Sign up" />
    </div>
    <span>{{errorMessage}}</span>
</form>-->

<div class="text-center" style="padding:50px 0">
    <div class="logo">register</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="register-form" (ngSubmit)="signup()" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="reg_fullname" class="sr-only">First Name</label>
                        <input type="text" class="form-control" id="reg_first_name" name="reg_first_name" placeholder="first name" [(ngModel)]="user.firstName">
                    </div>
                    <div class="form-group">
                        <label for="reg_password_confirm" class="sr-only">Last Name</label>
                        <input type="text" class="form-control" id="reg_last_name" name="reg_last_name" placeholder="last name" [(ngModel)]="user.lastName">
                    </div>
                    <div class="form-group">
                        <label for="reg_email" class="sr-only">Email</label>
                        <input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email" [(ngModel)]="user.email">
                    </div>
                    <div class="form-group">
                        <label for="reg_username" class="sr-only">User Name</label>
                        <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username" [(ngModel)]="user.username">
                    </div>
                    <div class="form-group">
                        <label for="reg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password" [(ngModel)]="user.password">
                    </div>
                    <div class="form-group login-group-checkbox">
                        <label>Role:</label>
                        <select [(ngModel)]="user.role" name="role">
                            <option value="nurse">Nurse</option>
                            <option value="patient">Patient</option>
                        </select>
                    </div>

                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                        <label for="reg_agree">i agree with <a href="#">terms</a></label>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <!--<div class="etc-login-form">
                <p>already have an account? <a href="#">login here</a></p>
            </div>-->
            <span>{{errorMessage}}</span>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
