﻿<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="pull-left">
                        Hello {{user.firstName}}
                    </h3>
                    <a href="/api/auth/signout" class="btn btn-default pull-right">Signout</a>
                    <div class="clearfix"></div>
                </div>
                    <div class="list-group" *ngIf="user.role === 'nurse'">
                        <!-- nurse links here -->
                        <a href="#" class="list-group-item" [routerLink]="['/vitals/record']">Record Vital Signs</a>
                        <a href="#" class="list-group-item" [routerLink]="['/tips/create']">Send Tip</a>
                        <a href="#" class="list-group-item" [routerLink]="['/vitals/record/list']">List of Vital Signs Records</a>
                        <a href="#" class="list-group-item" [routerLink]="['/alerts/list']">List of Emergency Alerts</a>
                        <a href="#" class="list-group-item" [routerLink]="['/info/list']">List of Patient's Daily Information</a>
                        <a href="#" class="list-group-item" [routerLink]="['/ill/create']">Create Medical Condition Entry</a>
                    </div>
                    <div class="list-group" *ngIf="user.role === 'patient'">
                        <!-- patient links here -->
                        <a href="#" class="list-group-item" [routerLink]="['/tips/list']">Tips</a>
                        <a href="#" class="list-group-item" [routerLink]="['/alerts/create']">Create Emergency Alert</a>
                        <a href="#" class="list-group-item" [routerLink]="['/info/create']">Record Daily Information</a>
                        <a href="#" class="list-group-item" [routerLink]="['/ill/list']">List of Conditions</a>
                    </div>
            </div><!-- End panel -->
        </div><!-- End col-md-8 -->
    </div><!-- End row -->
</div>
<!--<div *ngIf="!user">
    <a [routerLink]="['/authentication/signup']">Signup</a>
    <a [routerLink]="['/authentication/signin']">Signin</a>
</div>-->

<div class="container" *ngIf="!user">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a [routerLink]="['/authentication/signin']">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a [routerLink]="['/authentication/signup']">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body" align="center">
                    <h3>Please Login or Register to use the system</h3>
                </div>
            </div>
        </div>
    </div>
</div>
