﻿<!--<h1>New Emergency Alert</h1>
<hr />



<form (ngSubmit)="record()" novalidate>    
    <div>
        <label for="title">Title</label>
        <div>
            <input type="text" required [(ngModel)]="alerts.title"
                   name="title" placeholder="Title">
        </div>
    </div>
    <div>
        <label for="content">Content</label>
        <div>
            <textarea type="text" required cols="30" rows="10"
                      [(ngModel)]="alerts.content" name="content" placeholder="Content"></textarea>
        </div>
    </div>
    <div>
        <input type="submit">
    </div>
    <strong id="error">{{errorMessage}}</strong>
</form>-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">                    
                    <div class="panel-heading">
                        <h3 class="center">New Emergency Alert</h3>
                    </div>
                <div class="panel-body">
                    <form class="form-horizontal" (ngSubmit)="record()" novalidate>

                        <!-- Title input -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Title</label>
                            <div class="col-md-9">
                                <input id="name" name="title" type="text" placeholder="Alert Title" class="form-control" required [(ngModel)]="alerts.title">
                            </div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Alert content</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your content here..." rows="5" required [(ngModel)]="alerts.content"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                        <div>
                            <strong id="error">{{errorMessage}}</strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
