﻿<!--<section *ngIf="alerts && alerts.creator">
    <div>
        <table border="1">
            <tr>
                <th>
                    Patient
                </th>
                <th>
                    Title
                </th>
                <th>
                    Message
                </th>
            </tr>
            <tr>
                <td>
                    {{alerts.creator.fullName}}
                </td>
                <td>
                    {{alerts.title}}
                </td>
                <td>
                    {{alerts.content}}
                </td>
            </tr>

        </table>
    </div>
    <br />
    <small>
        <em>
            Created on {{alerts.created}} by {{ alerts.creator.fullName }}
        </em>
    </small>
</section>-->

<div class="container" *ngIf="alerts && alerts.creator">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Patient Alert Messages</h3>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Patient</th>
                            <th class="col-md-1">Title</th>
                            <th class="col-md-2">Message</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{alerts.creator.fullName}}</td>
                            <td>{{alerts.title}}</td>
                            <td>{{alerts.content}}</td>
                        </tr>                        
                    </tbody>
                </table>
            <div class="panel-footer">
                <small><em>Created on {{alerts.created}} by {{ alerts.creator.fullName }}</em></small>
            </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->