﻿<!--<form (ngSubmit)="signin()">
    <div>
        <label>Username:</label>
        <input type="text" [(ngModel)]="credentials.username"
               name="username">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" [(ngModel)]="credentials.password"
               name="password">
    </div>
    <div>
        <input type="submit" value="Sign In">
    </div>
    <span>{{errorMessage}}</span>
</form>-->

<div class="text-center" style="padding:50px 0">
    <div class="logo">login</div>
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="login-form" (ngSubmit)="signin()" class="text-left">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="lg_username" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username" [(ngModel)]="credentials.username">
                    </div>
                    <div class="form-group">
                        <label for="lg_password" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" [(ngModel)]="credentials.password">
                    </div>
                    <div class="form-group login-group-checkbox">
                        <input type="checkbox" id="lg_remember" name="lg_remember">
                        <label for="lg_remember">remember</label>
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <!--<div class="etc-login-form">
                <p>forgot your password? <a href="#">click here</a></p>
                <p>new user? <a href="#">create new account</a></p>
            </div>-->
            <span>{{errorMessage}}</span>
        </form>
    </div>
    <!-- end:Main Form -->
</div>