﻿<div>
    <!--<a href="/api/oauth/google">Sign in with Google</a>
    <a href="/api/oauth/facebook">Sign in with Facebook</a>
    <a href="/api/oauth/twitter">Sign in with Twitter</a>-->
    <router-outlet></router-outlet>
</div>
