﻿<!--<h1>Record Conditions</h1>
<hr />

<form (ngSubmit)="create()" novalidate>
    <div>
        Condition: <input type="text" [(ngModel)]="illnesses.condition" name="condition">
    </div>
    <div>
        Symptoms: 
        <textarea [(ngModel)]="illnesses.symptoms" name="symptoms"
                  placeholder="Enter symptoms here..."
                  rows="4" cols="50"></textarea>
    </div>
    <div>
        Medical Advice: 
        <textarea [(ngModel)]="illnesses.advice" name="advice"
                  placeholder="Enter medical advice here..."
                  rows="4" cols="50"></textarea>
    </div>
    <div>
        <input type="submit">
    </div>
    <div>
        <strong id="error">{{errorMessage}}</strong>
    </div>
</form>-->

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="center">Record Patient Conditions</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" (ngSubmit)="create()" novalidate>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Condition:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" [(ngModel)]="illnesses.condition" name="condition" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Symptoms</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" [(ngModel)]="illnesses.symptoms" name="symptoms"
                                    placeholder="Enter symptoms here..."rows="4" cols="50">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Medical Advice</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" [(ngModel)]="illnesses.advice" name="advice"
                                          placeholder="Enter medical advice here..." rows="4" cols="50">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default pull-right">Submit</button>
                            </div>
                        </div>
                        <div>
                            <strong id="error">{{errorMessage}}</strong>
                        </div>
                    </form>
                </div>
            </div><!--end panel-->
        </div><!--end col-md-8-->
    </div><!--end row-->
</div><!--end container-->
